.catalog-slogan {
  padding: 17px 0 43px 0;

  background-color: $basic-white;
}

.catalog-slogan__text {
  width: 273px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
}
