.catalog {
  margin: 0 0 0 0;
  padding: 41px 0 0 0;

  font-family: "Open Sans", "Verdana", sans-serif;

  border: none;
}

.catalog__list {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
