.communication {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-style: normal;
  font-family: "Open Sans", "Verdana", sans-serif;

  &:last-child {
    @include for-desktop-up {
      order: 2;

      grid-column: auto;
    }

    order: 4;

    grid-column: 1 / 3;
  }

  &:first-child {
    order: 1;
  }

  &:nth-child(2) {
    order: 3;
  }
}

.communication__appeal {
  @include for-tablet-portrait-up {
    margin-bottom: 3px;
  }
  @include for-desktop-up {
    margin-bottom: 21px;
  }

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.communication__attribute-text {
  margin-bottom: 19px;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $basic-red;
}

.communication__attribute-ref {
  color: inherit;
}
