.contacts-fields {
  @include for-tablet-portrait-up {
    padding: 0 58px 5px;

    border: 2px solid $basic-smoky;
    border-radius: 1px;
  }

  margin: 0 0 0 0;
  padding: 0 0 0 0;

  font-family: "Open Sans", "Verdana", sans-serif;

  border: none;
}

.contacts-fields__legend {
  @include for-tablet-portrait-up {
    display: block;
    margin: 0 auto 31px;
  }

  display: none;
  width: 252px;
  margin: 0 auto 42px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-red;
  text-transform: uppercase;
}

.contacts-fields__label {
  @include for-tablet-portrait-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 23px;
  }

  display: block;
  margin: 0 0 17px 0;
}

.contacts-fields__label-text {
  @include for-tablet-portrait-up {
    order: 2;
    margin: 10px 0 0 19px;
  }

  margin: 0 0 0 23px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
}

.contacts-fields__text-input {
  @include for-tablet-portrait-up {
    position: relative;

    width: 456px;

    &[type="tel"] {
      background: url("../img/phone.svg") right / 59px 59px no-repeat;
    }

    &[type="email"] {
      background: url("../img/envelop.svg") right / 59px 59px no-repeat;
    }
  }

  display: block;
  width: 236px;
  height: 59px;
  margin: 5px 0 0 0;
  padding: 0 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;

  border: 2px solid $basic-smoky;
  border-radius: 3px;
}
