.copyright {
  display: flex;
  justify-content: space-between;
  width: 131px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
}
