.features {
  @include for-tablet-portrait-up {
    min-height: 442px;
    padding-top: 46px;

    background-size: 100% 8vw;

    &::after {
      display: none;
    }
  }
  @include for-desktop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 570px;
  }

  position: relative;

  min-height: 704px;
  padding-top: 83px;

  font-family: "Open Sans", "Verdana", sans-serif;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='320' height='32'%3E%3Cpolygon points='0,0 0,32 320,0' fill='#{$basic-white-svg}' /%3E%3C/svg%3E") top / 100% 32px no-repeat $basic-light-gray;

  &::after {
    content: "";
    position: absolute;
    top: 510px;
    left: calc(50% - 78px);

    width: 320px;
    height: 277px;

    background: url("../img/phone-smile.png") no-repeat;
  }
}

.features__wrapper {
  @include for-tablet-portrait-up {
    padding-top: 31px;
    padding-left: 50%;

    text-align: left;

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: calc(50% - 310px);

      width: 270px;
      height: 481px;

      background: url("../img/iphone-for-tablet.png") no-repeat;
    }
  }
  @include for-desktop-up {
    display: flex;
    justify-content: space-between;
    margin-top: 295px;
    padding-top: 0;
    padding-left: 0;

    text-align: left;

    &::after {
      display: none;
    }
  }

  text-align: center;
}

.features__article {
  @include for-desktop-up {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 320px;

    text-align: center;

    &:nth-of-type(1)::after {
      content: "";
      position: absolute;
      top: -356px;
      left: 10px;

      width: 300px;
      height: 301px;

      background: url("../img/basket-bw.png") no-repeat transparent;
    }

    &:nth-of-type(2)::after {
      content: "";
      position: absolute;
      top: -356px;
      left: 10px;

      width: 300px;
      height: 301px;

      background: url("../img/basket-pink.png") no-repeat transparent;
    }

    &:nth-of-type(3)::after {
      content: "";
      position: absolute;
      top: -356px;
      left: 10px;

      width: 300px;
      height: 301px;

      background: url("../img/basket-smile.png") no-repeat transparent;
    }
  }
}

.features__feature-title {
  @include for-desktop-up {
    width: 230px;
    margin: 0 0 23px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }

  margin: 0 0 12px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: inherit;
}

.features__feature-description {
  @include for-tablet-portrait-up {
    width: 310px;
    margin: 0 0 34px 0;
  }
  @include for-desktop-up {
    width: 249px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  width: 280px;
  margin: 0 auto 31px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: inherit;
}
