.form {
  @include for-tablet-portrait-up {
    display: grid;
    margin-bottom: 43px;
  }
  @include for-desktop-up {
    margin-bottom: 0;

    grid-template-columns: 50% 50%;
  }

  font-family: "Open Sans", "Verdana", sans-serif;
}

.form__name-field-box {
  @include for-tablet-portrait-up {
    order: 1;
    padding-top: 73px;
    padding-bottom: 0;
  }
  @include for-desktop-up {
    width: 435px;
    padding-top: 87px;

    justify-self: start;
  }

  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $basic-white;
}

.form__achievements-field-box {
  @include for-tablet-portrait-up {
    order: 4;
    padding-top: 33px;

    background-color: $basic-white;
  }
  @include for-desktop-up {
    grid-column: 1 / 3;
  }

  padding-top: 39px;
  padding-bottom: 42px;

  background-color: $basic-light-gray;
}

.form__contacts-fields-box {
  @include for-tablet-portrait-up {
    order: 3;
    padding-top: 17px;
  }
  @include for-desktop-up {
    width: 100%;
    padding-top: 5px;

    grid-column: 1 / 3;
    justify-self: start;
  }

  padding-top: 30px;
  padding-bottom: 26px;

  background-color: $basic-white;
}

.form__app-fields-box {
  @include for-tablet-portrait-up {
    order: 2;
    padding-top: 5px;

    background-color: $basic-white;

    justify-self: end;
  }
  @include for-desktop-up {
    width: 435px;
    padding: 72px 0 0 0;
  }

  padding-top: 39px;
  padding-bottom: 40px;

  background-color: $basic-light-gray;
}

.form__impressions-fields-box {
  @include for-tablet-portrait-up {
    order: 5;
    padding-top: 15px;
  }
  @include for-desktop-up {
    grid-column: 1 / 3;
  }

  padding-top: 39px;
  padding-bottom: 10px;

  background-color: $basic-white;
}

.form__submit-btn-box {
  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
    padding-top: 57px;
  }
  @include for-desktop-up {
    grid-column: 1 / 3;
  }

  padding-top: 22px;
  padding-bottom: 4px;

  background-color: $basic-white;
}

.form__submit-btn {
  @include for-tablet-portrait-up {
    width: 300px;
    height: 62px;
  }

  display: block;
  width: 100%;
  padding: 16px 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $basic-white;
  text-transform: uppercase;

  background-color: $basic-green;
  border: none;
  border-radius: 3px;
}

.form__footnote {
  @include for-tablet-portrait-up {
    margin-top: 14px;
  }

  margin-top: 34px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;
}

.form__footnote-tag {
  color: $basic-red;
}

.form__footnote-text--comprehensive {
  @include for-desktop-up {
    display: inline;
  }

  display: none;
}

.form__footnote-text--short {
  @include for-desktop-up {
    display: none;
  }

  display: inline;
}
