.form__name-field-box {
  background-color: $basic-white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.form__achievements-field-box {
  background-color: $basic-light-gray;
  padding-top: 39px;
  padding-bottom: 42px;
}

.form__contacts-fields-box {
  background-color: $basic-white;
  padding-top: 30px;
  padding-bottom: 26px;
}

.form__app-fields-box {
  background-color: $basic-light-gray;
  padding-top: 39px;
  padding-bottom: 41px;
}
