.impressions-fields {
  @include for-tablet-portrait-up {
    padding: 0 58px 34px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  font-family: "Open Sans", "Verdana", sans-serif;

  border: none;
}

.impressions-fields__legend {
  @include for-tablet-portrait-up {
    width: 257px;
    margin: 0 auto 32px;
  }

  width: 252px;
  margin: 0 auto 11px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-red;
  text-transform: uppercase;
}

.impressions-fields__label {
  display: block;
  margin: 0 0 17px 0;
}

.impressions-fields__label-text {
  margin: 0 0 0 23px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
}

.impressions-fields__text-input {
  @include for-tablet-portrait-up {
    margin: 5px auto 0;
    width: 456px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Verdana", sans-serif;
    padding: 13px 19px 5px;
  }
  display: block;
  width: 236px;
  height: 171px;
  margin: 5px 0 0 0;
  padding: 13px 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  resize: none;

  border: 2px solid $basic-smoky;
  border-radius: 3px;
}
