.name-fields {

  margin: 0 0 0 0;
  padding: 0;

  font-family: "Open Sans", "Verdana", sans-serif;

  border: none;
}

.name-fields__label {
  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 52px 0;
  }

  display: block;
  margin: 0 0 17px 0;
}

.name-fields__label-text {
  @include for-tablet-portrait-up {
    margin: 0 18px 0 0;
  }

  margin: 0 0 0 23px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
}

.name-fields__text-input {
  @include for-tablet-portrait-up {
    margin: 0;
    width: 100%;
  }

  display: block;
  width: 236px;
  height: 59px;
  margin: 5px 0 0 0;
  padding: 0 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;

  border: 2px solid $basic-smoky;
  border-radius: 3px;
}
