.page-header {
  background-color: $transparent-black;
}

.page-header__site-nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__site-nav-item {
  text-align: center;
}

.page-header__site-nav-link {
  @include for-desktop-up {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;

    border: none;
  }

  display: block;
  padding: 10px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: $basic-white;
  text-transform: uppercase;

  border-top: 1px solid transparentize($basic-white, 0.85);
  border-bottom: 1px solid $basic-black;
}

.page-header__site-nav-item--active {
  @include for-desktop-up {
    box-sizing: border-box;
    border-bottom: $basic-white solid 2px;
  }
}
