.page-footer {
  background-color: $basic-white;
  padding-top: 36px;
  height: 284px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__social {
    margin-top: 36px;
  }
  &__copyright {
    margin-top: 22px;
  }
}
