.page-header {
  background-color: $transparent-black;

  &__site-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__site-nav-item {
    text-align: center;
  }

  &__site-nav-link {
    display: block;
    border-top: 1px solid transparentize($basic-white, 0.85);
    border-bottom: 1px solid $basic-black;
    font-family: "Open Sans", "Verdana", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: $basic-white;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 16px;
  }
}
