.pop-up {
  @include for-tablet-portrait-up {
    left: calc(50% - 230px);
    width: 460px;
  }

  position: fixed;
  top: calc(50vh - 190px);
  left: calc(50% - 160px);

  display: none;
  width: 320px;

  font-family: "Open Sans", "Verdana", sans-serif;

  background-color: $basic-white;
  box-shadow: 0 7px 15px;
}

.pop-up--show {
  @include for-tablet-portrait-up {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  display: block;
}

.pop-up__message {
  @include for-tablet-portrait-up {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 0;
    width: 230px;
  }
  margin-top: 47px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $basic-black;
}

.pop-up__message-wide {
  @include for-tablet-portrait-up {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    //width: 300px;
    width: 310px;
    margin: 22px 0 0;
  }
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $basic-black;
  margin: 24px 0 0 0;
}

.pop-up__footer--success {
  @include for-tablet-portrait-up {
    box-sizing: border-box;
    width: 100%;
    margin: 30px 0 0 0;
  }
  margin: 35px 0 0 0;
  padding: 50px 20px;

  background-color: $basic-light-gray;
}

.pop-up__footer--failure {
  @include for-tablet-portrait-up {
    margin: 5px 0 0;
    padding: 29px 20px 52px;
  }

  margin: 15px 0 0 0;
  padding: 28px 20px 50px;

  background-color: $basic-white;
}

.pop-up__button {
  @include for-tablet-portrait-up {
    width: 300px;
    margin: 0 auto;
  }

  display: block;
  width: 100%;
  padding: 16px 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $basic-white;
  text-transform: uppercase;

  background-color: $basic-green;
  border: none;
  border-radius: 3px;
}
