.product-card {
  width: 280px;
  padding-bottom: 20px;
}

.product-card__image {
  display: block;
}

.product-card--selected {
  position: relative;
  padding-bottom: 20px;
  &::after {
    content: " ";
    position: absolute;
    right: 20px;
    top: 0;
    width: 140px;
    height: 36px;
    background-image: url("../img/favorite-panarama.svg");
  }
}

.product-card__img-wrapper {
  display: block;
}

.product-card--selected img {
  position: relative;
  width: 100vw;
}

.product-card--selected .product-card__annotation {
  width: 280px;
  margin: 0 auto;
}

.product-card__annotation {
  padding: 17px 0 20px 0;
  background-color: $basic-light-gray;
}

.product-card__summary {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.product-card__summary {
  margin: 0 0 0 0;
}
.product-card__author {
  margin: 0 0 0 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.product-card__posted {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-card__full {
  margin: 0 0 0 17px;
  width: 260px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.product-card__like-box {
  display: flex;
  min-width: 280px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 11px;
  margin-left: 17px;
}
.product-card__like-button {
  border: none;
  width: 13px;
  height: 12px;
  background: url("../img/heart.svg") 0 0 / 13px 12px $basic-light-gray;
}

.product-card__like-counter {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-red;
  margin-left: 19px;
}
