.section-features {
  position: relative;
  background-color: $basic-light-gray;
  padding-top: 50px;
  height: 704px;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 277px;
    top: 477px;
    background-image: url("../img/phone-smile.png");
    background-repeat: no-repeat;
    left: calc(50% - 78px);
  }

  &__feature-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 12px 0;
    text-align: center;
  }

  &__feature-description {
    margin: 0 auto 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 280px;
  }
}
