.section-map {
  position: relative;

  min-height: 200px;

  background: url("../img/map-mobile.jpg") 50% 50% / 100% no-repeat, $basic-white;

  iframe {
    width: 100%;

    background: transparent;
    border: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 32px;

    background: url("../img/triangle_white_footer.svg") top left / 100% 32px no-repeat;
  }
}
