.section-reviews {
  background-color: $basic-white;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: $basic-black;
  font-size: 24px;
  font-style: normal;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='20'%3E%3Cpolygon points='0,20 320,0 320,20' fill='#{$basic-light-gray-svg}' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 20px;
  height: 364px;
  &__list {
    margin: 0 0 0 0;
    list-style: none;
    padding-top: 40px;
  }
  &__slider-position {
    margin-top: 17px;
  }
}
