.section-slogans {
  height: 208px;
  margin: 0;
  padding-top: 39px;

  background-color: $basic-white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='32'%3E%3Cpolygon points='0,32 320,0 320,32' fill='#{$basic-light-gray-svg}' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 32px;
}

.section-slogans__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-slogans__slogan {
  margin: 0 0 29px 0;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: $cian;
}
