.section-contacts {
  background-color: $basic-white;
  padding-top: 41px;
  min-height: 369px;
  &__wrapper {
    text-align: center;
  }
  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
  }
  &__address {
    margin-top: 33px;
  }
}
