.section-map {
  min-height: 200px;
  position: relative;
  background-color: $basic-white;
  background: url("../img/map-mobile.jpg") 50% 50% / 100% no-repeat;
  iframe {
    width: 100%;
    background: transparent;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='32'%3E%3Cpolygon points='0,0 160,32 320,0' fill='#{$basic-white-svg}' /%3E%3C/svg%3E")  top left / 100% 32px no-repeat;
  }
}
