.showcase {
  position: relative;
  top: -66px;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 733px;
  margin-bottom: -66px;

  background-color: $dark-cian;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 175px;

    width: 320px;
    height: 286px;

    background-image: url("../img/hand-mobile.png");
  }
}

.showcase__lead {
  width: 225px;
  margin: 89px 0 0 0;
  padding: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: $basic-white;
}

.showcase__default-ref {
  display: block;
  box-sizing: border-box;
  width: 280px;
  margin-top: 26px;
  padding-top: 17px;
  padding-bottom: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: $basic-white;

  border: 3px solid $basic-white;
  border-radius: 29px;
}

.showcase__download-refs-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 204px;
  margin-top: 31px;
}

.showcase__refs-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 271px;

  background-color: $dark-cian;
}

.showcase__download-refs-description {
  width: 230px;
  margin-top: 19px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: $basic-white;
}
