.slider {
  color: $basic-black;
  background-color: transparent;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    padding-left: 0;
  }

  &__quote {
    margin: 0 0 0 0;
  }

  &__participant-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin-top: 13px;
  }

  &__toggles-box {
    width: 62px;
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 50% 50%;
    background-color: transparentize($cian, 0.7);
    cursor: pointer;
    padding: 0;
    margin: 3px;
  }

  &__toggle--current {
    background-color: $basic-white;
    &::before {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: -3px;
      left: -3px;
      border: none;
      border-radius: 50% 50%;
      background-color: $cian;
    }
    &::after {
      content: "";
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0px;
      left: 0px;
      border: none;
      border-radius: 50% 50%;
      background-color: $basic-white;
    }
  }
}
