.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: $basic-black;

  background-color: transparent;
}

.slider__list {
  padding-left: 0;
}

.slider__quote {
  margin: 0 0 0 0;
}

.slider__participant-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.slider__text {
  margin-top: 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.slider__toggles-box {
  display: flex;
  justify-content: space-between;
  width: 62px;
}

.slider__toggle {
  position: relative;

  display: block;
  width: 6px;
  height: 6px;
  margin: 3px;
  padding: 0;

  background-color: transparentize($cian, 0.7);
  border: none;
  border-radius: 50% 50%;
  cursor: pointer;

  &--current {
    background-color: $basic-white;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;

      width: 12px;
      height: 12px;

      background-color: $cian;
      border: none;
      border-radius: 50% 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 6px;
      height: 6px;

      background-color: $basic-white;
      border: none;
      border-radius: 50% 50%;
    }
  }
}
