.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: $basic-black;

  background-color: transparent;
}

.slider__list {
  list-style: none;
}

.slider__quote {
  @include for-desktop-up {
    margin: 0 auto;
    padding: 0 80px 0;
  }

  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
}

.slider__participant-name {
  @include for-tablet-portrait-up {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  @include for-desktop-up {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.slider__participant-extra {
  @include for-tablet-portrait-up {
    display: block;
  }
  @include for-desktop-up {
    margin-top: 3px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  display: none;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.slider__cite {
  @include for-tablet-portrait-up {
    order: 2;
    margin: 17px auto;
  }
}

.slider__text {
  @include for-tablet-portrait-up {
    margin-top: 6px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
  @include for-desktop-up {
    margin-top: 6px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  margin-top: 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.slider__toggles-box {
  @include for-desktop-up {
    display: none;
  }

  display: flex;
  justify-content: space-between;
  width: 62px;
}

.slider__toggle {
  position: relative;

  display: block;
  width: 6px;
  height: 6px;
  margin: 3px;
  padding: 0;

  background-color: transparentize($cian, 0.7);
  border: none;
  border-radius: 50% 50%;
  cursor: pointer;

  &--current {
    background-color: $basic-white;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;

      width: 12px;
      height: 12px;

      background-color: $cian;
      border: none;
      border-radius: 50% 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 6px;
      height: 6px;

      background-color: $basic-white;
      border: none;
      border-radius: 50% 50%;
    }
  }
}

.slider__left {
  @include for-desktop-up {
    content: "";
    position: absolute;
    top: 212px;
    left: 130px;

    display: block;
    width: 22px;
    height: 41px;

    background: url("../img/left-arrow.svg") no-repeat transparent;
    border: none;
    cursor: pointer;
  }

  display: none;
}

.slider__right {
  @include for-desktop-up {
    content: "";
    position: absolute;
    top: 212px;
    right: 130px;

    display: block;
    width: 22px;
    height: 41px;

    background: url("../img/right-arrow.svg") no-repeat transparent;
    border: none;
    cursor: pointer;
  }

  display: none;
}
