.table-tariffs {
  font-family: "Open Sans", "Verdana", sans-serif;
  width: 832px;
  height: 277px;
  color: $basic-white;
  border-collapse: collapse;

  &__table-header {
    position: relative;
    background-color: $cian;
    height: 83px;
    padding-bottom: 14px;
    border-bottom: none;
    background-clip: padding-box;

    &:not(:first-child) {
      border-left: $basic-white 2px solid;
    }

    &:not(:last-child) {
      border-right: $basic-white 2px solid;
    }

    &--badge::after {
      content: "";
      position: absolute;
      top: 0;
      left: -2px;
      width: 74px;
      height: 74px;
      background-image: url("../img/hit-badge.svg");
      background-repeat: no-repeat;
    }
  }

  &__table-definition {
    position: relative;
    background-color: $basic-white;
    color: $cian;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    border: $basic-light-gray 2px solid;
    border-top: none;
    text-align: left;
    padding: 14px 19px 15px;
    text-transform: uppercase;
    background-clip: padding-box;

    &--available::after {
      content: "";
      position: absolute;
      top: 19px;
      left: 228px;
      width: 74px;
      height: 74px;
      background-image: url("../img/yes.svg");
      background-repeat: no-repeat;
    }

    &--unavailable::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 229px;
      width: 74px;
      height: 74px;
      background-image: url("../img/no.svg");
      background-repeat: no-repeat;
    }
  }

  &__tariff-name {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &__tariff-rate {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }
}
