.terms {
  @include for-tablet-portrait-up {
    height: auto;
  }

  height: 100px;
  padding: 44px 0 0 0;

  background-color: $basic-white;
}

.terms__text {
  @include for-tablet-portrait-up {
    width: 520px;
    margin-top: 47px;

    font-size: 18px;
    line-height: 30px;
  }
  @include for-desktop-up {
    width: 757px;
  }

  width: 273px;
  margin: 0 auto;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
}

.terms__text--additional {
  @include for-tablet-portrait-up {
    display: inline;

    font: inherit;
  }

  display: none;
}
