.terms {
  height: 100px;
  padding: 44px 0 0 0;

  background-color: $basic-white;
}

.terms__text {
  width: 275px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
}
