@import "../global/variables.scss";
@import "../global/mixins.scss";

.page-header {
  background-color: rgba(#000000, 0.3);
  &__site-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__site-nav-item {
    text-align: center;
  }
  &__site-nav-link {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: $basic-white;
    text-transform: uppercase;
  }
}
