.showcase {
  position: relative;
  top: -66px;
  height: 733px;
  background-color: $dark-cian;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-bottom: -66px;
  z-index: -1;
  &__lead {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Verdana", sans-serif;
    color: $basic-white;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
  }
  &__default-ref {
    display: block;
    font-family: Open Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    border: 3px solid $basic-white;
    box-sizing: border-box;
    border-radius: 29px;
    text-align: center;
    color: $basic-white;
  }
  &__download-refs-description {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: $basic-white;
  }
}
