$basic-white: #ffffff;
$basic-black: #000000;
$dark-cian: #1d2631;
$cian: #283645;
$basic-light-gray: #f2f2f2;
$basic-light-gray-svg: "%23f2f2f2";
$basic-white-svg: "%23ffffff";
$basic-red:  #d22856;
$transparent-black: rgba(#000000, 0.3);
$transparent-cian: rgba(#283645, 0.1);

