$basic-white: #ffffff;
$basic-black: #000000;
$basic-red: #d22856;
$dark-cian: #1d2631;
$basic-light-gray: #f2f2f2;
$basic-smoky: #e5e5e5;
$basic-light-gray-svg: "%23f2f2f2";
$basic-white-svg: "%23ffffff";
$basic-red:  #d22856;
$basic-green: #2AAB6D;
$cian: #283645;
$transparent-black: rgba(#000000, 0.3);
$transparent-cian: rgba(#283645, 0.1);

