img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.content {
  @include for-phone-only {
    //width: 280px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include for-tablet-portrait-up {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include for-desktop-up {
    padding-left: 130px;
    padding-right: 130px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
