img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.content {
  @include for-phone-only {
    padding-right: 20px;
    padding-left: 20px;
  }
  @include for-tablet-portrait-up {
    padding-right: 20px;
    padding-left: 20px;
  }
  @include for-desktop-up {
    padding-right: 130px;
    padding-left: 130px;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
