$basic-white: #ffffff;
$basic-black: #000000;
$dark-cian: #1D2631;
$cian: #283645;
$special-dark-cian: #283645;
$basic-light-gray: #F2F2F2;
$basic-light-gray-svg: '%23F2F2F2';
$basic-red:  #D22856;
$transparent-black: rgba(#000000, 0.3);

