@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/mixins.scss";
@import "global/global.scss";

//TODO
//только для этапа разработки
@import "utils/debug";

// component
@import "component/page";
@import "component/page-body";
@import "component/page-header";
@import "component/main-nav";
@import "component/showcase.scss";
@import "component/section-slogans";
@import "component/section-features";
@import "component/section-reviews";
@import "component/slider";
@import "component/section-tariffs";
@import "component/table-tariffs";
